<div class="p-card">
  <div class="flex justify-content-center">
    <h3>Sigue los pasos para registrarte
    </h3>
  </div>

  <p-steps [activeIndex]="active" [model]="items" class="p-steps"></p-steps>

  <div class="margin card " *ngIf="active === 0">
    <form [formGroup]="form">
      <div class="flex justify-content-center">
        <h3>Datos de la vacante
        </h3>
      </div>
      <div class="w-full mt-2">

        <p-floatLabel [style]="{'width': '100%' }">
          <p-dropdown
            id="vacante"
            [options]="vacantes"
            [style]="{'width': '100%'}"
            formControlName="vacante_id"
            optionValue="id"
            optionLabel="descripcion"
            required
            (onChange)="onVacanteChange($event)">
          </p-dropdown>
          <label for="vacante">Vacante</label>
        </p-floatLabel>

        <div class="w-full flex flex-row gap-5 mt-5">
          <p-floatLabel [style]="{'width': '49%'}">
            <p-dropdown
              id="estado"
              [options]="estados"
              [style]="{'width': '100%'}"
              formControlName="estado_id"
              optionLabel="nombre"
              optionValue="id"
              [required]="true"
              (onChange)="getMunicipios()">
            </p-dropdown>
            <label for="estado">Estado</label>
          </p-floatLabel>

          <p-floatLabel [style]="{'width': '49%' }">
            <p-dropdown
              id="municipio"
              [options]="municipios"
              formControlName="municipio_id"
              [style]="{'width': '100%'}"
              optionLabel="nombre"
              optionValue="id"
              [required]="true">
            </p-dropdown>
            <label for="municipio">Municipio</label>
          </p-floatLabel>
        </div>
      </div>
    </form>
  </div>

  <div class="margin card " *ngIf="active === 1">
    <form [formGroup]="form">
      <div class="flex justify-content-center">
        <h3>Información del solicitante </h3>
      </div>
      <div class="w-full mt-2">
        <div class=" flex flex-row gap-5 mt-5 ">
          <p-floatLabel [style]="{'width': '32%'}">
            <input pInputText id="username" [style]="{'width': '100%'}"/>
            <label for="username">Nombre(s)</label>
          </p-floatLabel>

          <p-floatLabel [style]="{'width': '32%'}">
            <input pInputText id="username3" [style]="{'width': '100%'}"/>
            <label for="username3">Apellido </label>
          </p-floatLabel>

          <p-floatLabel [style]="{'width': '32%'}">
            <input pInputText id="username4" [style]="{'width': '100%'}"/>
            <label for="username4">Apellido Materno</label>
          </p-floatLabel>
        </div>

      </div>
    </form>
  </div>

  <div class=" flex justify-content-between m-5">
    <div
      (click)="active = active > 0 ? active - 1 : active"
      class="custom-button prev-button"
      [class.disabled]="active === 0">
      Prev
    </div>
    <div
      (click)="active = active < 3 ? active + 1 : active"
      class="custom-button next-button"
      [class.disabled]="active === 3">
      Next
    </div>
  </div>

</div>
