<!-- DESKTOP STEPPER -->
<mat-horizontal-stepper class="contenedor-formulario" *ngIf="!vertical" #stepper>
  <mat-step class="vacantes" label="Vacantes" [completed]="vacanteCompleted()">
    <ng-container *ngTemplateOutlet="vacante"></ng-container>
  </mat-step>

  <!--  <mat-step label="Solicitante" [completed]="informacionCompleted()"-->
  <!--            [aria-labelledby]="!vacanteCompleted() ? 'disable_step' : null">-->
  <!--    <ng-container *ngTemplateOutlet="solicitante"></ng-container>-->
  <!--  </mat-step>-->

  <!--  <mat-step [formGroup]="beneficiarioForm" label="Beneficiario" [completed]="beneficiarioCompleted()"-->
  <!--            [aria-labelledby]="!informacionCompleted() ? 'disable_step' : null">-->
  <!--    <ng-container *ngTemplateOutlet="beneficiario"></ng-container>-->
  <!--  </mat-step>-->

  <!--  <mat-step label="Documentación" [completed]="documentacionCompleted()"-->
  <!--            [aria-labelledby]="!informacionCompleted() ? 'disable_step' : null">-->
  <!--    <ng-container *ngTemplateOutlet="documentacion"></ng-container>-->
  <!--  </mat-step>-->
</mat-horizontal-stepper>


<ng-template [formGroup]="form" #vacante>
  <div class="card">
    <div class="card-header w-100 text-center">
      <h2>Datos de la vacante</h2>
    </div>
    <div class="card-body">
      <div class="formulario-group vac">

        <p-dropdown
          [options]="vacantes"
          [(ngModel)]="selectedVacante"
          optionLabel="descripcion"
          placeholder="Seleccione una vacante"
          required
          (onChange)="onVacanteChange($event)">
        </p-dropdown>
        <p *ngIf="isControlValid('vacante_id')" class="p-error">Por favor selecciona una vacante</p>

      </div>

      <div class="formulario-group edo-mun">
        <p-dropdown
          [options]="estados"
          [(ngModel)]="selectedEstado"
          optionLabel="nombre"
          optionValue="id"
          placeholder="Seleccione un estado"
          [required]="true"
          (onChange)="getMunicipios()">
        </p-dropdown>

        <p-dropdown
          [options]="municipios"
          [(ngModel)]="selectedMunicipio"
          optionLabel="nombre"
          optionValue="id"
          placeholder="Seleccione un municipio"
          [required]="true">
        </p-dropdown>

      </div>
    </div>
  </div>
  <br>
  <div class="card-footer d-flex justify-content-end">
<!--    <button class="btn  d-flex align-self-center"-->
<!--            style="background-color:  #7138a194; color: white;"-->
<!--            [disabled]="!vacanteCompleted()"-->
<!--            (click)="stepper.next()">-->
<!--      <span class="mr-2 texts">Continuar</span>-->
<!--      <i style="margin-left: 3%;" class="bi bi-arrow-right-circle-fill texts"></i>-->
<!--    </button>-->
  </div>

</ng-template>


