.custom-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #007bff;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: #126bc4;
  transition: background-color 0.3s;
}

.custom-button:hover:not(.disabled) {
  background-color: #e2e6ea;
}

.custom-button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.prev-button {
  margin-right: auto;
}

.next-button {
  margin-left: auto;
}

.margin {
  align-items: center;
  justify-content: center;
  padding: 3%;
}

@media (max-width: 768px) {
  .p-steps {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .p-steps .ui-steps-item {
    margin-right: 0;
    margin-bottom: 0.5rem;
    width: 90%;
    text-align: center;
    font-size: 0.85rem;
    padding: 0.5rem;
  }

  .ui-steps-item {
    display: flex;
    justify-content: center;
  }
}

.inputs{
  display: flex;
  flex-direction: row;
  gap: 10px;
}



.tamaño{
  width: 32%;
}

.tamañotwo{
  width: 49%;
}

@media (max-width: 1100px) {
  .inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }


  .tamaño {
    width: 100%;
  }

  .tamañotwo{
    width: 100%;
  }
}

.ineImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seccionImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.title-image {
  height: 3vh;
}

.image-profile {
  cursor: pointer;
  max-width:100px;
  max-height:100px;
  width:auto;
  height:auto;
}

@media (max-height: 414px) {

  .image-profile {
    margin-top: .7rem;
  }
}


.cargarArchivos {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.cargarArchivos p {
  margin-bottom: 5px;
  font-weight: bold;
}

.cargarArchivos input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .cargarArchivos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .cargarArchivos p, .cargarArchivos input[type="file"] {
    width: 48%;
  }
}

@media screen and (max-width: 767px) {
  .cargarArchivos {
    flex-direction: column;
  }

  .cargarArchivos input[type="file"] {
    width: 100%;
  }
}
