<div class="surface-card shadow-2 border-round ">
  <div class="header flex justify-content-between align-items-center">
    <span class="header-title">Listado de vacantes</span>


  </div>
  <div class="card p-4">

    <p-table
      #dt2
      [columns]="columns"
      [globalFilterFields]="dataSource"
      [loading]="loading"
      [paginator]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      [rows]="10"
      [showFirstLastIcon]="false"
      [tableStyle]="{ 'min-width': '75rem' }"
      [value]="users"
      dataKey="id"
      paginatorStyleClass="text-end"
      responsiveLayout="stack"
    >
      <ng-template let-columns pTemplate="caption">
        <div class="ng-star-inserted">
          <div class="flex flex-wrap gap-2 align-items-center ng-star-inserted pb-2">
            <span class="p-input-icon-left sm:w-20rem flex-order-1 sm:flex-order-0 w-full">
                <i class="pi pi-search"></i>
                <input (input)="dt2.filterGlobal(event($event.target), 'contains')" [(ngModel)]="searchValue"
                       [style]="{'width': '100%'}" pInputText
                       placeholder="Buscar" type="text"/>
            </span>
            <button (click)="clearTable(dt2)" *ngxPermissionsOnly="'web.baja'"
                    class="p-element p-button-outlined w-full sm:w-auto flex-order-2 sm:flex-order-1 p-button p-component"
                    icon="pi pi-user-plus" label="Add New"
                    pButton
                    pRipple>
              <span aria-hidden="true" class="p-button-icon p-button-icon-left pi pi-filter-slash"></span>
              <span class="p-button-label">Limpiar filtro</span>
            </button>
            <button (click)="clearTable(dt2)"
                    class="p-element p-button-outlined w-full sm:w-auto flex-order-2 sm:flex-order-1 p-button p-component"
                    icon="pi pi-user-plus" label="Add New" pButton
                    pRipple>
              <span aria-hidden="true" class="p-button-icon p-button-icon-left pi pi-download"></span>
              <span class="p-button-label">Reporte pagadora</span>
            </button>
            <button (click)="clearTable(dt2)"
                    class="p-element p-button-outlined w-full sm:w-auto flex-order-2 sm:flex-order-1 p-button p-component"
                    icon="pi pi-user-plus" label="Add New" pButton
                    pRipple>
              <span aria-hidden="true" class="p-button-icon p-button-icon-left pi pi-download"></span>
              <span class="p-button-label">Descargar cartas de renuncia</span>
            </button>
            <button (click)="clearTable(dt2)"
                    class="p-element p-button-outlined w-full sm:w-auto flex-order-2 sm:flex-order-1 p-button p-component"
                    icon="pi pi-user-plus" label="Add New" pButton
                    pRipple>
              <span aria-hidden="true" class="p-button-icon p-button-icon-left pi pi-download"></span>
              <span class="p-button-label">Exportar aceptados</span>
            </button>

          </div>
          <div
            class="flex flex-wrap font-normal gap-2 align-items-center justify-content-between ng-star-inserted ">
            <span class="p-input-icon-left w-24 flex-order-1 sm:flex-order-0 w-full pt-4">
               <p-floatLabel>
                <p-calendar
                  (onClose)="getRegistros()"
                  [(ngModel)]="rangeDates"
                  [iconDisplay]="'input'"
                  [readonlyInput]="true"
                  [showIcon]="true"
                  [stepYearPicker]="false"
                  [style]="{'width': '100%'}"
                  id="calendar"
                  selectionMode="range"/>
                  <label for="calendar">Fecha</label>
                 </p-floatLabel>
            </span>

            <span class="p-input-icon-left w-24 flex-order-2 sm:flex-order-0 w-full pt-4">
                <p-columnFilter [field]="'vacante'" [showClearButton]="false" id="vacante">
                    <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                    <p-floatLabel>
                              <p-dropdown
                                (onChange)="filter($event.value)"
                                [options]="vacantes"
                                optionLabel="descripcion"
                                optionValue="descripcion">
                              </p-dropdown>
                      <label for="vacante">Vacante</label>
                    </p-floatLabel>
                    </ng-template>
                </p-columnFilter>
            </span>

            <span class="p-input-icon-left w-24 flex-order-2 sm:flex-order-0 w-full pt-4">
                <p-columnFilter [field]="'estado'" [showClearButton]="false" id="estado">
                    <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                    <p-floatLabel>
                              <p-dropdown
                                (onChange)="filter($event.value)"
                                [options]="estados"
                                optionLabel="nombre"
                                optionValue="nombre">
                              </p-dropdown>
                      <label for="estado">Estado</label>
                    </p-floatLabel>
                    </ng-template>
                </p-columnFilter>
            </span>

            <span class="p-input-icon-left w-24 flex-order-2 sm:flex-order-0 w-full pt-4">
                <p-columnFilter [field]="'estatus'" [showClearButton]="false" id="estatus">
                    <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                    <p-floatLabel>
                              <p-dropdown
                                (onChange)="filter($event.value)"
                                [options]="estatus"
                                optionLabel="nombre"
                                optionValue="campo">
                              </p-dropdown>
                      <label for="estatus">Estatus</label>
                    </p-floatLabel>
                    </ng-template>
                </p-columnFilter>
            </span>
          </div>
        </div>
      </ng-template>
      <ng-template let-columns pTemplate="header">
        <tr>
          <th *ngFor="let col of columns" [ngStyle]="{'width.%': col.width}"
              [pSortableColumn]="col.field">{{ col.header }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th class="text-center" style="width: 10%">Acciones</th>
        </tr>

      </ng-template>
      <ng-template let-columns="columns" let-rowData pTemplate="body">
        <tr>
          <td *ngFor="let col of columns; let i = index">
            {{ rowData[col.field] }}
          </td>
          <td class="text-center">
            <i (click)="documentos.toggle($event)" *ngIf="rowData.estatus != estatusVacante.RECHAZADOTEXTO"
               class="pi pi-file-pdf pr-2 cursor-pointer"></i>
            <p-tieredMenu #documentos [model]="itemsDoc" [popup]="true" appendTo="body">
              <ng-template let-hasSubmenu="hasSubmenu" let-item pTemplate="item">
                <ng-container *ngIf="item.id == 'curriculum'; else constancia">
                  <div (click)="mostrarPDF(1 ,rowData.id, 'obtener-cv', 'Curriculum de ' + rowData.nombre)"
                       *ngIf="rowData.estatus == estatusVacante.ACEPTADOTEXTO || rowData.estatus == estatusVacante.PENDIENTETEXTO" class="p-menuitem-link">
                    <span class="ml-2" style="max-width: 150px">{{ item.label }}</span>
                  </div>
                </ng-container>
                <ng-template #constancia>
                  <ng-container *ngIf="item.id == 'constancia'; else documentosIE">
                    <div (click)="mostrarPDF(1 ,rowData.id, 'obtener-cv', 'Curriculum de ' + rowData.nombre)"
                         *ngIf="rowData.estatus == estatusVacante.ACEPTADOTEXTO || rowData.estatus == estatusVacante.PENDIENTETEXTO"
                         class="p-menuitem-link">
                      <span class="ml-2" style="max-width: 150px">{{ item.label }}</span>
                    </div>
                  </ng-container>
                  <ng-template #documentosIE>
                    <ng-container *ngIf="item.id == 'documentosIE'; else documentosG">
                      <div class="p-menuitem-link">
                        <span class="ml-2" style="max-width: 150px">{{ item.label }}</span>
                        <span *ngIf="hasSubmenu" class="pi pi-angle-right ml-auto"></span>
                      </div>
                    </ng-container>
                    <ng-template #documentosG>
                      <ng-container *ngIf="item.id == 'documentosG'; else cartaIE ">
                        <div *ngIf="rowData.estatus == estatusVacante.ACEPTADOTEXTO || rowData.estatus == estatusVacante.BAJATEXTO" class="p-menuitem-link">
                          <span class="ml-2" style="max-width: 150px">{{ item.label }}</span>
                          <span *ngIf="hasSubmenu" class="pi pi-angle-right ml-auto"></span>
                        </div>
                      </ng-container>
                      <ng-template #cartaIE>
                        <ng-container *ngIf="item.id == 'cartaIE'; else pruebaIE">
                          <div
                            (click)="mostrarPDF(1 ,rowData.id, 'carta-compromiso', 'Carta compromiso de ' + rowData.nombre)"
                            *ngIf="rowData.estatus == estatusVacante.ACEPTADOTEXTO || rowData.estatus == estatusVacante.PENDIENTETEXTO"
                            class="p-menuitem-link">
                            <span class="ml-2" style="max-width: 150px">{{ item.label }}</span>
                          </div>
                        </ng-container>
                        <ng-template #pruebaIE>
                          <ng-container *ngIf="item.id == 'pruebaIE'; else convenioIE">
                            <div
                              (click)="mostrarPDF(1 ,rowData.id, 'periodo-prueba', 'Periodo de prueba de ' + rowData.nombre)"
                              *ngIf="rowData.estatus == estatusVacante.ACEPTADOTEXTO" class="p-menuitem-link">
                              <span class="ml-2" style="max-width: 150px">{{ item.label }}</span>
                            </div>
                          </ng-container>
                          <ng-template #convenioIE>
                            <ng-container *ngIf="item.id == 'convenioIE'; else delitosIE">
                              <div (click)="mostrarPDF(1 ,rowData.id, 'convenio', 'Convenio de ' + rowData.nombre)"
                                   *ngIf="rowData.estatus == estatusVacante.ACEPTADOTEXTO" class="p-menuitem-link">
                                <span class="ml-2" style="max-width: 150px">{{ item.label }}</span>
                              </div>
                            </ng-container>
                            <ng-template #delitosIE>
                              <ng-container *ngIf="item.id == 'delitosIE'; else contratoIE">
                                <div
                                  (click)="mostrarPDF(1 ,rowData.id, 'delitos-electorales', 'Carta de delitos de ' + rowData.nombre)"
                                  *ngIf="rowData.estatus == estatusVacante.ACEPTADOTEXTO" class="p-menuitem-link">
                                  <span class="ml-2" style="max-width: 150px">{{ item.label }}</span>
                                </div>
                              </ng-container>
                              <ng-template #contratoIE>
                                <ng-container *ngIf="item.id == 'contratoIE'; else renunciaIE">
                                  <div (click)="mostrarPDF(1 ,rowData.id, 'contrato', 'Contrato de ' + rowData.nombre)"
                                       *ngIf="rowData.estatus == estatusVacante.ACEPTADOTEXTO" class="p-menuitem-link">
                                    <span class="ml-2" style="max-width: 150px">{{ item.label }}</span>
                                  </div>
                                </ng-container>
                                <ng-template #renunciaIE>
                                  <ng-container *ngIf="item.id == 'renunciaIE'; else pruebaG ">
                                    <div
                                      (click)="mostrarPDF(1 ,rowData.id, 'solicitud-carta-terminacion', 'Carta de ' + rowData.nombre)"
                                      *ngIf="rowData.estatus == estatusVacante.BAJATEXTO" class="p-menuitem-link">
                                      <span class="ml-2" style="max-width: 150px">{{ item.label }}</span>
                                    </div>
                                  </ng-container>
                                  <ng-template #pruebaG>
                                    <ng-container *ngIf="item.id == 'pruebaG'; else renunciaG ">
                                      <div
                                        (click)="mostrarPDF(2 ,rowData.id, 'periodo-prueba', 'Periodo de prueba de ' + rowData.nombre)"
                                        *ngIf="rowData.estatus == estatusVacante.ACEPTADOTEXTO" class="p-menuitem-link">
                                        <span class="ml-2" style="max-width: 150px">{{ item.label }}</span>
                                      </div>
                                    </ng-container>
                                    <ng-template #renunciaG>
                                      <ng-container *ngIf="item.id == 'renunciaG'">
                                        <div
                                          (click)="mostrarPDF(2 ,rowData.id, 'solicitud-carta-terminacion', 'Carta de ' + rowData.nombre)"
                                          *ngIf="rowData.estatus == estatusVacante.BAJATEXTO" class="p-menuitem-link">
                                          <span class="ml-2" style="max-width: 150px">{{ item.label }}</span>
                                        </div>
                                      </ng-container>
                                    </ng-template>
                                  </ng-template>
                                </ng-template>
                              </ng-template>
                            </ng-template>
                          </ng-template>
                        </ng-template>
                      </ng-template>
                    </ng-template>
                  </ng-template>
                </ng-template>
              </ng-template>
            </p-tieredMenu>
            <i (click)="mostrarDetalle(rowData.id)"
               class="pi pi-eye pr-2 cursor-pointer"></i>
            <i (click)="solicitud.toggle($event)" *ngIf="rowData.estatus != estatusVacante.BAJATEXTO && rowData.estatus != estatusVacante.RECHAZADOTEXTO"
               class="pi pi-user-edit pr-2 cursor-pointer"></i>
            <p-tieredMenu #solicitud [model]="itemsSolicitud" [popup]="true" appendTo="body">
              <ng-template let-item pTemplate="item">
                <ng-container *ngIf="item.id == 'aceptar'; else rechazar">
                  <div (click)="cambiarEstatus(rowData, 'aceptar')"
                       *ngIf="rowData.estatus == estatusVacante.PENDIENTETEXTO" class="p-menuitem-link">
                    <span class="ml-2" style="max-width: 150px">{{ item.label }}</span>
                  </div>
                </ng-container>
                <ng-template #rechazar>
                  <ng-container *ngIf="item.id == 'rechazar'; else editar_fecha ">
                    <div (click)="cambiarEstatus(rowData, 'rechazar')"
                      *ngIf="rowData.estatus == estatusVacante.PENDIENTETEXTO" class="p-menuitem-link">
                      <span class="ml-2" style="max-width: 150px">{{ item.label }}</span>
                    </div>
                  </ng-container>
                  <ng-template #editar_fecha>
                    <ng-container *ngIf="item.id == 'editar_fecha'; else dar_baja ">
                      <div
                        (click)="cambiarEstatus(rowData, 'actualizar-inicio')"
                        *ngIf="rowData.estatus == estatusVacante.ACEPTADOTEXTO" class="p-menuitem-link">
                        <span class="ml-2" style="max-width: 150px">{{ item.label }}</span>
                      </div>
                    </ng-container>
                    <ng-template #dar_baja>
                      <ng-container *ngIf="item.id == 'dar_baja'">
                        <div
                          (click)="cambiarEstatus(rowData, 'baja')"
                          *ngIf="rowData.estatus == estatusVacante.ACEPTADOTEXTO" class="p-menuitem-link">
                          <span class="ml-2" style="max-width: 150px">{{ item.label }}</span>
                        </div>
                      </ng-container>
                    </ng-template>
                  </ng-template>
                </ng-template>
              </ng-template>
            </p-tieredMenu>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [colSpan]="columns.length + 1">No se encontraron registros.</td>
        </tr>
      </ng-template>
    </p-table>
    <app-modal-alert></app-modal-alert>
  </div>
</div>
