<div class="w-full h-full container">
  <div class="item1 flex flex-column align-items-center">
    <div class="flex align-items-center">
      <span class="material-icons pr-2">image</span>
      <p class="title">Foto del solicitante</p>
    </div>
    <p-avatar
      icon="pi pi-user"
      [image]="data.foto_perfil"
      size="xlarge"
      shape="circle"
      alt="Perfil del solicitante"
      class="mt-3"/>
  </div>
  <div class="item2 flex flex-column gap-1">
    <div class="flex align-items-center align-self-center">
      <span class="material-icons pr-2">work</span>
      <p class="title">Datos de la vacante</p>
    </div>
    <span><strong> Puesto:</strong> </span>
    <span> {{ data.puesto }} </span>
    <span><strong>Ubicación:</strong></span>
    <span>{{ data.municipio }}, {{ data.estado }}</span>
  </div>
  <div class="item3 flex flex-column">
    <div class="flex align-items-center align-self-center">
      <span class="material-icons pr-2">contact_mail</span>
      <p class="title">Información del solicitante</p>
    </div>
    <span><strong> Nombre:</strong></span>
    <span> {{ data.nombre_completo }} </span>
    <span><strong>Contacto:</strong></span>
    <span>{{ data.telefono }} </span>
    <span> {{ data.correo }} </span>
    <span><strong>Fecha de nacimiento:</strong></span>
    <span>{{ data.fecha_nacimiento }} </span>
  </div>
  <div class="item4 flex flex-column">
    <div class="flex align-items-center align-self-center">
      <span class="material-icons pr-2">info</span>
      <p class="title">Información general</p>
    </div>
    <span><strong>Domicilio:</strong></span>
    <span style="width: 30vw"> {{ data.domicilio }}.</span>
    <span><strong>Sexo:</strong></span>
    <span>{{ data.sexo }} </span>
    <span><strong>Estado civil:</strong></span>
    <span>{{ data.estado_civil }} </span>
    <span><strong>Clave de elector:</strong></span>
    <span>{{ data.clave_ine }}</span>
    <span><strong>Curp:</strong></span>
    <span>{{ data.curp }}</span>
    <span><strong>RFC:</strong></span>
    <span>{{ data.rfc }}</span>
    <span><strong>Número de seguridad social:</strong></span>
    <span>{{ data.nss }}</span>
  </div>
  <div class="item5 flex flex-column">
    <div class="flex align-items-center align-self-center">
      <span class="material-icons pr-2">person</span>
      <p class="title">Información del beneficiario</p>
    </div>
    <span><strong> Nombre:</strong></span>
    <span> {{ data.beneficiario_nombre_completo }} </span>
    <span><strong>Contacto:</strong></span>
    <span>{{ data.beneficiario_telefono }} </span>
    <span><strong>Domicilio:</strong></span>
    <span style="width: 30vw"> {{ data.beneficiario_domicilio }}.</span>
    <span><strong>Parentesco:</strong></span>
    <span>{{ data.beneficiario_parentesco }}</span>
    <span><strong>RFC:</strong></span>
    <span>{{ data.beneficiario_rfc }}</span>
  </div>
  <div class="item6 flex flex-column align-items-center">
    <div class="flex align-items-center">
      <span class="material-icons pr-2">image</span>
      <p class="title">Foto del solicitante</p>
    </div>
    <p-image [src]="credencial + data.foto_credencial"></p-image>
  </div>
</div>
